{% extends "boilerplate.html" %}

{% from "render_category.html" import render_category %}
{% block wrap %}
  <div class=row>
    <div class="col-md-3" >
      <a href="{{url_for('new_category_get')}}">new category</a>
      <hr>
    </div>
    <div class="col-md-9">
      <a href="{{url_for('new_item_get')}}">new item</a>
      <hr>
    </div>
  </div>
  <div class=row>
    <div class="col-md-3" >
      {% for name, id, user_owns in catalog_info %}
      {{ render_category(name, id, user_owns) }}
      {% endfor %}
    </div>
    <div class="col-md-9">
      {% block content %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
