{% macro render_item(catalog_id, item, user_owns, sep=False) %}
  <div class="item">
    <h2>
      {{item.name}}</a>
    </h2>
    {% if user_owns %}
    <form method="get" action="{{url_for('edit_item_get', catalog_id, item_id=item.id)}}">
      <label>
        <input type="submit" value="Edit">
      </label>
    </form>
    <form method="get" action="{{url_for('delete_item_get', catalog_id, item_id=item.id)}}">
      <label>
        <input type="submit" value="Delete">
      </label>
    </form>
    {% endif %}
  </div>
{% endmacro %}
